:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;

  flex-direction: column;
  text-align: center;
  width: 400px;
  &__buttons-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

mat-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

mat-list-item{
  display: flex;
}

p {
  flex: 1;
}

h2 {
  width: 50%;
  text-align: center;
}


.route {
  color: royalblue;
  font-weight: bold;
}
