<ng-container *ngIf="clientList$ | async; else loading">
  <ng-container *ngIf="(clientList$ | async)?.length; else message">
    <mat-card class="card">
      <mat-list>
        <mat-card-title>CLIENT LIST</mat-card-title>
        <mat-list-item *ngFor="let client of clientList$ | async; let index = index">
          <p>{{ index + 1 }}. {{ client.displayName }}</p></mat-list-item
        >
      </mat-list>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #message>
  <h2>
    Your <b class="route">CLIENT LIST</b> was supposed to render here, but something went wrong. Try adding a new
    Client.
  </h2>
</ng-template>
