<ng-container *ngIf="icecreamList$ | async; else loading">
  <ng-container *ngIf="(icecreamList$ | async)?.length; else message">
    <mat-card class="card">
      <mat-card-title>ICE CREAM LIST</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let icecream of icecreamList$ | async; let index = index">
          <p>{{ index + 1 }}. {{ icecream.name }}</p></mat-list-item
        >
      </mat-list>
      <div class="card__buttons-container">
        <div class="buttons-container">
          <button (click)="sortByName()" mat-raised-button>Sort by Ice Cream Name</button>
        </div>
      </div>
      <mat-card-subtitle
        >You're clicking that button at your own risk (transition is currently pretty bad!)</mat-card-subtitle
      >
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #message>
  <h2>
    Your <b class="route">ICE CREAM LIST</b> was supposed to render here, but something went wrong. Try adding a new Ice
    Cream.
  </h2>
</ng-template>
