:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;

}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

mat-card-title {
  margin: 30px;
}


h2 {
  width: 50%;
  text-align: center;
}

.route {
  color: hotpink;
  font-weight: bold;
}
