<ng-container *ngIf="icecreamList$ | async; else loading">
  <ng-container *ngIf="(icecreamList$ | async)?.length; else message">
    <mat-card class="card">
      <mat-card-title>YOUR FAVOURITE ICE CREAM</mat-card-title>
      <div>
        <icy-ice-cream-card
          (click)="openSnackBar(icecream.name)"
          *ngFor="let icecream of icecreamList$ | async"
          [icecream]="icecream"
          matTooltip="Click to remove from favourites :(">
        </icy-ice-cream-card>
      </div>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #message>
  <h2>Seems like your <b class="route">FAVOURITE ICE CREAM LIST</b> is empty. Try finding something that you like!</h2>
</ng-template>
