:host {
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-card {
  background-color: inherit;
  filter: brightness(95%);
  display: flex;

  &__title {
    font-size: 2em;
    font-weight: bold;
  }
}

.login-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  width: 400px;

  &__title,
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    letter-spacing: 5px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

  @media screen and (max-height: 500px){
    .login-card {
      position: fixed;
      top: 150px;
  }
}


