<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-title class="login-card__title">
      <h2>LOGIN</h2>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="login-card__form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input #password type="password" formControlName="password" matInput />
        </mat-form-field>
        <p *ngIf="(loginFail | async) === true">There is no user matching these credentials</p>
        <p
          *ngIf="
            form.controls['password'].invalid && form.controls['password'].touched && (loginFail | async) === false
          ">
          Password cannot be shorter than 6 characters
        </p>
        <button [disabled]="form.invalid" mat-raised-button color="primary">SIGN IN</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
