<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-title class="login-card__title">
      <h2>LOGIN</h2>
    </mat-card-title>
    <mat-card-content>
      <form class="login-card__form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">SIGN IN</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
