<div class="wrapper">
  <mat-card class="form-card">
    <mat-card-title class="form-card__title">
      <h2>ADD NEW ICE CREAM</h2>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="form-card__form">
        <mat-form-field appearance="fill">
          <mat-label>New Ice Cream name</mat-label>
          <mat-hint align="start">Input name to add new Ice Cream</mat-hint>
          <input placeholder="Name of new icecream" formControlName="name" matInput />
        </mat-form-field>
        <button [disabled]="form.invalid" mat-raised-button color="primary">ADD NEW</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
