<mat-card class="card">
  <mat-card-title>ADD NEW CLIENT</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="card__form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
        <mat-hint align="start">This will serve as client's login when logging in to the app</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input #password formControlName="password" matInput />
        <mat-hint align="start">This will serve as client's password when logging in to the app</mat-hint>
        <p class="password-error" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          Password cannot be shorter than 6 characters
        </p>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Display name</mat-label>
        <input formControlName="displayName" matInput />
        <mat-hint align="start">This will serve as client's display name in the app</mat-hint>
      </mat-form-field>
      <p *ngIf="addFail! | async" class="email-error">This email already exits in the database!</p>
      <button [disabled]="form.invalid" mat-raised-button color="primary">ADD CLIENT</button>
    </form>
  </mat-card-content>
</mat-card>
