<div *ngIf="(orderList$ | async)?.length">
  <h2>ORDERS FOR THE FOLLOWING DAY</h2>
  <table class="mat-elevation-z8">
    <tr>
      <th>NO.</th>
      <th>CLIENT</th>
      <th>ICE CREAM</th>
      <th>UNIT</th>
      <th>AMOUNT</th>
      <th>ORDER DATE</th>
    </tr>
    <tr *ngFor="let order of orderList$ | async; let index = index">
      <td>
        {{ index + 1 }}
      </td>
      <td>
        {{ order.clientDisplayName }}
      </td>
      <td>
        {{ order.icecream.name }}
      </td>
      <td>
        {{ order.unit.name }}
      </td>
      <td>
        {{ order.amount }}
      </td>
      <td>
        {{ order.date }}
      </td>
    </tr>
  </table>
</div>
