.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &__header {
    width: 100%;
    margin-bottom: 20px;
  }
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 244, 244);
  color: #1E2024;
  font-weight: bold;
  font-size: 2.25em;
  letter-spacing: 5px;
  height: 2.5em;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding: 0;
  max-height: 56px;
}

// mat-toolbar > * {
//   width: 200px;
//   position: 0;
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

mat-divider {
  width: 100%;
}
