<div class="wrapper">
  <div class="wrapper__header">
    <mat-toolbar color="primary">
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>MANAGEMENT PANEL</span>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="clientmanager">CLIENT MANAGER</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="icecreammananger">ICECREAM MANAGER</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="ordermanager">ORDER MANAGER</button>
    </mat-menu>
    <mat-menu #clientmanager="matMenu">
      <button routerLink="add-client" mat-menu-item>ADD NEW CLIENT</button>
      <mat-divider></mat-divider>
      <button routerLink="client-list" mat-menu-item>CLIENT LIST</button>
    </mat-menu>
    <mat-menu #icecreammananger="matMenu">
      <button mat-menu-item routerLink="icecream-list">ICE CREAM LIST</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="unit-list">GLOBAL UNITS LIST</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="adddelmenu">MANAGE ICE CREAM</button>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="unitmenu">MANAGE ICE CREAM UNITS</button>
    </mat-menu>
    <mat-menu #ordermanager="matMenu">
      <button routerLink="icecream-production" mat-menu-item>ICECREAM FOR THE FOLLOWING DAY</button>
      <mat-divider></mat-divider>
      <button routerLink="order-list-client" mat-menu-item>ORDERS-BY-CLIENTS LIST</button>
    </mat-menu>
    <mat-menu #adddelmenu="matMenu">
      <button routerLink="add-icecream" mat-menu-item>ADD ICE CREAM</button>
      <mat-divider></mat-divider>
      <button routerLink="delete-icecream" mat-menu-item>DELETE ICE CREAM</button>
    </mat-menu>
    <mat-menu #unitmenu="matMenu">
      <button routerLink="add-global-units" mat-menu-item>ADD GLOBAL UNITS</button>
      <mat-divider></mat-divider>
      <button routerLink="delete-global-units" mat-menu-item>DELETE GLOBAL UNITS</button>
    </mat-menu>
  </div>
  <router-outlet></router-outlet>
</div>
