:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 400px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

h2 {
  width: 50%;
  text-align: center;
}

.route {
  color: hotpink;
  font-weight: bold;
}

