<ng-container *ngIf="currentClient$ | async; else loading">
  <ng-container *ngIf="!alreadyOrdered; else alreadyOrderedMessage">
    <ng-container *ngIf="icecreamList$ | async; else loading">
      <ng-container *ngIf="(icecreamList$ | async)?.length"></ng-container>
      <mat-card class="card">
        <mat-card-title>NEW ORDER</mat-card-title>
        <mat-card-content>
          <form (ngSubmit)="onSubmit()" [formGroup]="form" class="card__form">
            <mat-form-field appearance="fill">
              <mat-label>Icecream</mat-label>
              <mat-select formControlName="icecream">
                <mat-option *ngFor="let icecream of icecreamList$ | async" [value]="icecream">
                  {{ icecream.name }}
                </mat-option>
              </mat-select>
              <mat-hint align="start">The icecream you would like to order</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of unitList$ | async" [value]="unit">
                  {{ unit.name }}
                </mat-option>
              </mat-select>
              <mat-hint align="start">The kind of unit you would like to order</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <input pattern="\d*" placeholder="Ex: 5" formControlName="amount" matInput />
              <mat-hint align="start">The amount of units that you would like to order</mat-hint>
            </mat-form-field>
            <button [disabled]="form.invalid" mat-raised-button color="primary">CONFIRM ORDER</button>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #alreadyOrderedMessage>
  <h2>Seems like you have <b class="route"> already ordered something today</b>. Please come back tomorrow!</h2>
</ng-template>
