:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}


.card{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  width: 400px;
}

p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

mat-card-subtitle {
  margin: 0;
}

mat-card-content {
  margin: 0;
}

h2 {
  width: 50%;
  text-align: center;
}

.route {
  color: hotpink;
  font-weight: bold;
}

