<mat-card *ngIf="icecreamList$ | async; else loading" class="card">
  <mat-card-title>ICE CREAM OFFERED BY </mat-card-title>
  <mat-card-subtitle
    ><p>{{ seller.displayName | uppercase }}</p></mat-card-subtitle
  >
  <div class="container">
    <icy-ice-cream-card
      (click)="openSnackBar(icecream.name)"
      *ngFor="let icecream of icecreamList$ | async"
      [icecream]="icecream"
      [add]="true"
      matTooltip="Click to add to favourites!">
    </icy-ice-cream-card>
  </div>
</mat-card>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<icy-favourite-ice-cream-list></icy-favourite-ice-cream-list>
