:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-card {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;

  &__title {
    font-weight: bold;
    font-size: 4em;
  }
}

mat-card {
  padding: 0;
}

main {
  flex: 1;
}

@media only screen and (max-width: 650px) {
  .header-card__title {
    font-size: 2.75em;
  }

}

mat-card {
  border-radius: 0px;
}
