:host {
  display: flex;
  width: 100%;
  justify-content: center;
}

:host > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  padding: 20px;
}

p {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

mat-panel-title {
  font-size: 20px;
}


table {
  width: 100%;
  max-width: 1000px;
  table-layout: fixed;
  background-color: white;
}

th, td {
  text-align: center;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-collapse: collapse;
}

th {
  background-color: rgb(63, 81, 181);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

tr {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

tr > * {
  flex: 1;
}

.total {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

h2 {
  width: 50%;
  text-align: center;
}

.route {
  background-color: royalblue;
  font-weight: bold;
}


tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.089);
}



.h2 {
  width: 50%;
  text-align: center;
}

.route {
  color: royalblue;
  font-weight: bold;
}
